<ion-view title="My Garden" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="profile-list1">
      <ion-item class="item-avatar" id="profile-list-item9">
        <h2>user.name</h2>
      </ion-item>
    </ion-list>
    <button id="profile-button7" class="button button-assertive button-small button-block">Delete</button>
    <form id="profile-form3" class="list">
      <div id="profile-button-bar1" class="button-bar"></div>
      <label class="item item-input" id="profile-input3">

        <span class="input-label">
          {{test}}
</span>
<span><button class="button button-royal">save</button></span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>
